<div [ngClass]="{'slide': showSideBar}">
    <div class="wrapper" [ngClass]="{'mobile-slide': mobileView}">
        <div class="top-bar">
            <div class="left-section">
                <div class='left-side-section'>
                    <div class="toggle-btn" (click)="toggleButton()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="logo-img"><img src="./assets/imgs/logo.png" /></div>
                </div>

                <div class="search-box-outer">
                    <input name="searchBar" id="searchBarforAd" class="search-box" value="" placeholder="Search.." type="text" [(ngModel)]="searchTerm" autocomplete="off"><input autocomplete="off" class="search" value="" type="submit">
                </div>
            </div>
            <div class="right-section">
                <ul>
                    <!-- <li>
                        <div class="notification">
                            <div class="navdrop-box custom-tooltip" data-name="Notification">
                                <i class="mdi mdi-bell-ring"></i>
                                <span class="count-notification">21</span>
                            </div>
                            <div class="dropdown-menu broadcast-notification">
                                <div class="notification-header">
                                    <h5>Notifications</h5>
                                    <p>you have <span>21</span> unread Messages</p>

                                </div>
                                <div class="notification-message">
                                    <ul>
                                        <li><a href="javascript:;"><i class="mdi mdi-bell"></i>New Notification
                                                Message<span>11:00PM</span></a></li>
                                        <li><a href="javascript:;"><i class="mdi mdi-bell"></i>New Notification
                                                Message<span>11:00PM</span></a></li>
                                        <li><a href="javascript:;"><i class="mdi mdi-bell"></i>New Notification
                                                Message<span>11:00PM</span></a></li>
                                    </ul>
                                </div>
                                <div class="notification-footer">
                                    <a href="javascript:;">View All Notifications</a>
                                </div>
                            </div>
                        </div>
                    </li> -->
                    <li>
                        <div class="profile-settings">
                            <div class="navdrop-box" style="display: flex;
                            justify-content: center;">
                                <img src="{{profilePic}}" style="    padding: 12px;
                                ">
                                <h5 style="top: 14px;
                                margin: 2px;
                                font-weight: bold;
                                font-size: 24px;">{{user_Name}}</h5>
                                <i style="position: relative;top: 20px;
                                margin-left: 9px;" class="fa fa-chevron-down"></i>
                            </div>
                            <div class="dropdown-menu">
                                <!-- <h5>{{user_Name}}</h5> -->
                                <a routerLink="/show/profile">View Profile</a>
                                <!-- <a routerLink="/settings">Settings</a> -->
                                <div class="dropdown-menu-footer">
                                    <a (click)="logout()"> Logout </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-bar">
            <div class="backlayer-sidebar" (click)="toggleButton()"></div>
            <div class="side-header">
                <a href="" class="logo-text">
                    <div class="logo-img"><img src="./assets/imgs/Logo_car_black_and_white.png" /></div>
                    <span class="logo-name">GetItHomeNow</span>
                </a>
                <i class="toggle-switch fa " [ngClass]="getCustomCss()" (click)="menueToggle()"></i>

                <div class="sidebar-header">
                    <div class="logo-img"><img src="./assets/imgs/logo.png" /></div>
                    <a (click)="toggleButton()"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <perfect-scrollbar>
                <ul class="nav-bar">
                    <!-- <li *ngFor="let menuList of menu; let i=index;" (click)="gotoRouting(i)" [ngClass]="{'active' : menuList.status == 'active'}">
                        <a>{{menuList.title}}</a>
                    </li> -->
                    <li *ngFor="let menuList of menu; let i=index;" (click)="gotoRouting(i)" [ngClass]="{'active' : menuList.status == 'active'}">
                        <a><i class='side-icon' [ngClass]="setNgClass(menuList.icon)"></i>
                            <span>{{menuList.title}}</span></a>
                    </li>
                    <!-- <li class="active">
                        <a><i class='side-icon fa fa-home'></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a><i class='side-icon fa fa-list'></i><span>Orders</span></a>
                    </li>
                    <li>
                        <a><i class='side-icon fa fa-exchange-alt'></i> <span>Transactions</span></a>
                    </li>
                    <li>
                        <a><i class='side-icon fa fa-shopping-cart'></i> <span>E- Commerce Sites</span></a>
                    </li> -->
                    <!-- <li class="child-menu">
                        <a>Users</a>
                        <div class="menu-wrap">
                            <ul>
                                <li><a>News &amp; Article</a></li>
                                <li><a>Athletes</a></li>
                                <li><a>Coach</a></li>
                                <li><a>video</a></li>

                            </ul>
                        </div>
                    </li> -->
                </ul>
            </perfect-scrollbar>
        </div>
        <div class="main-container dashboard">
            <div class="main-title">
                <h1>{{topHeading}}</h1>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>