<div class="add-more" routerLink="/advertisment">
    <i class="mdi mdi-arrow-left"></i>
</div>
<div class="form-outer">
    <div class="form-element">
        <label for="title" >Title</label>
        <input placeholder="Title" type="text" id="title" [(ngModel)]="title" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="mHeading">Main Heading</label>
        <input type="text" id="mHeading" [(ngModel)]="mHeading" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="cHeading">Sub Heading</label>
        <input type="text" id="cHeading" [(ngModel)]="cHeading" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="body">Body</label>
        <input type="text" id="body" [(ngModel)]="body" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="contectNo">Contact Number</label>
        <input type="tel" id="contectNo" [(ngModel)]="contectNo" autocomplete="off"/>
    </div>
    <div class="form-element" style="text-align: center;">
        <a (click)="createAdvertisement()" class="submit-btn">Submit</a>
    </div>

</div>