<div class="add-more" routerLink="/advertisment">
    <i class="mdi mdi-arrow-left"></i>
</div>
<div class="form-outer">
    <div class="form-element">
        <label>Title</label>
        <input type="text" />
    </div>
    <div class="form-element">
        <label>Main Heading</label>
        <input type="text" />
    </div>
    <div class="form-element">
        <label>Sub Heading</label>
        <input type="text" />
    </div>
    <div class="form-element">
        <label>Body</label>
        <input type="text" />
    </div>
    <div class="form-element">
        <label>Contact Number</label>
        <input type="tel" />
    </div>
    <div class="form-element" style="text-align: center;">
        <a href="" class="submit-btn">Submit</a>
    </div>

</div>