<div class="form-outer">
    <!-- <div class="form-element">
        <label>Old Password</label>
        <input type="" placeholder="" />
    </div>
    <div class="form-element">
        <label>Email</label>
        <input type="email" placeholder="e.g john@gmail.com" />
    </div>
    <div class="form-element">
        <label>Contact Number</label>
        <input type="tel" placeholder="e.g 9653248710" />
    </div> -->
    <div class="form-element">
        <label>Old Password</label>
        <input type="password" />
    </div>
    <div class="form-element">
        <label>New password</label>
        <input type="password" />
    </div>
    <div class="form-element">
        <label>Confirm password</label>
        <input type="password" />
    </div>
    <div class="form-element" style="text-align: center;">
        <a href="" class="submit-btn">Submit</a>
    </div>
</div>