<div class="form-outer">
    <div class="form-element">
        <label for="oldpassword">Old Password</label>
        <input placeholder="Old Password" type="password" id="oldpassword" [(ngModel)]="oldPwd" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="npassword">New password</label>
        <input placeholder="New Password" type="password" id="npassword" [(ngModel)]="newPwd" autocomplete="off"/>
    </div>
    <div class="form-element">
        <label for="cpassword">Confirm password</label>
        <input placeholder="Confirm Password" type="password" id="cpassword" [(ngModel)]="confirmPwd" autocomplete="off"/>
    </div>
    <div class="form-element" style="text-align: center;">
        <a (click)="updateAdminDetails()" class="submit-btn">Submit</a>
    </div>
</div>