<div class="card profile-section">
    <div class="card-body">
        <label class="cabinet center-block">
            <figure>
            <img src="{{imageurl}}" class="gambar img-responsive img-thumbnail" id="item-img-output" />
          <figcaption><i class="fa fa-camera"></i></figcaption>
         </figure>
        <input type="file" class="item-img file center-block"  (change)="onSelectFile($event)" accept="image/*" name="file_photo"/>
        </label>
    </div>

    <div class="profile-name">
        <h2>Admin</h2>
        <p>{{email}}</p>
        <a (click)="showProileModal(content)">Change Password</a>
    </div>
</div>


<ng-template #content>
    <div class="modal-body" style="text-align: center; ">
        <div class="close-icon" (click)="JoinAndClose()"><i class="fa fa-times"></i></div>
        <div class="title-heading">
            <h3>Change Password</h3>
        </div>
        <div class="form-outer">
            <div class="form-element">
                <label for="oldpassword">Old Password</label>
                <input placeholder="Old Password" type="password" id="oldpassword" [(ngModel)]="oldPwd" autocomplete="off" />
            </div>
            <div class="form-element">
                <label for="npassword">New password</label>
                <input placeholder="New Password" type="password" id="npassword" [(ngModel)]="newPwd" autocomplete="off" />
            </div>
            <div class="form-element">
                <label for="cpassword">Confirm password</label>
                <input placeholder="Confirm Password" type="password" id="cpassword" [(ngModel)]="confirmPwd" autocomplete="off" />
            </div>
            <div class="form-element" style="text-align: center;">
                <a (click)="updatePassword()" class="submit-btn">Submit</a>
            </div>
        </div>
    </div>
</ng-template>